.flex_container {
  background-color: rgb(249, 248, 248);
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
}
.flex_body {
  background-color: white;
  padding: 5px;
  margin: 10px auto;
  width: 250px;
  border: 1px solid rgb(252, 251, 251);
  border-radius: 10px;
}
.flex_image {
  padding: 5px;
}
.flex_image img {
  border-radius: 10px;
  width: 240px;
}
.flex_option {
  margin-left: 5px;
  margin-top: 15px;
}
.option {
  font-size: 10px;
  border: 1px solid rgb(239, 237, 237);
  color: rgb(114 108 108 / 64%);
  padding: 2px 6px;
  border-radius: 7px;
  /* margin-right: 5px;*/
}
.flex_text {
  color: rgb(157, 154, 154);
  font-size: 12px;
}
.flex_button {
  text-align: center;
  margin: 10px;
}
.button {
  background-color: rgb(212, 239, 255);
  color: rgb(7, 116, 232);
  padding: 7px 15px;
  border: none;
  font-size: 12px;
  border-radius: 15px;
}
